.top{
    padding-top: 40px;
    padding-left:250px ;
    border-bottom: 2px solid silver;
}
.next{
    position: absolute;
    border-radius: 40px;
    height: 30px;
    margin-left: 700px;
    margin-top: -50px;

}
.prev{
    position: absolute;
    border-radius: 40px;
    height: 30px;
    margin-left: 620px;
    margin-top: -50px;
}
.index{
    position: absolute;
    border-radius: 40px;
    height: 40px;
    margin-left: 680px;
    margin-top: -20px;
}
.chaptercontent{
    padding: 50px 350px 350px 350px;
    border-radius: 30px;
    text-align: justify;
}
#l1{
    position: absolute;
  border-left: 2px solid silver;
  height: 3500px;
 margin-left: 280px;
  
}
#l2{
    position: absolute;
    border-left: 2px solid silver;
    height: 3500px;
   margin-left: 1170px;

}
.l3{
    border-bottom:2px solid silver ;
    width: 300px;
}